@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900|Source+Code+Pro|Source+Serif+Pro);

$primary-colour: #ddd;
$link-colour: #316d96;
$text-colour: #000;

$serif-font: 'Source Serif Pro', serif;
$sans-font: 'Source Sans Pro', sans-serif;
$code-font: 'Source Code Pro', monospace;

$page-width: 900px;
$page-padding: 10px;
