<!doctype html>
<html>
    <head>
        <title>Kai Parry</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
        <link href="assets/style/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="body">
            <div class="content">
                <img src="assets/images/signature.svg" alt="Kai Parry" class="signature">
                <div class="tagline">
                    sysadmin<br>
                    developer
                </div>
                <div class="socials">
                    <a href="https://twitter.com/threadproc" title="Twitter" class="icon twitter">
                        <img src="assets/images/twitter.svg" alt="Twitter">
                    </a>
                    <a href="https://linkedin.com/in/parrykai" title="LinkedIn" class="icon linkedin">
                        <img src="assets/images/linkedin.svg" alt="LinkedIn">
                    </a>
                    <a href="https://github.com/threadproc" title="GitHub" class="icon github">
                        <img src="assets/images/github.svg" alt="GitHub">
                    </a>
                    <br>
                    <a href="https://www.dropbox.com/s/zdrmnrgyk6yej0r/resume.pdf" title="Resume">Resume</a>
                </div>
            </div>
        </div>
    </body>
</html>