---
layout: base
title: {{ page.title }}
---
<div id="main" class="left post">
    <h1>{{ page.title }}</h1>
    Posted <time>{{ page.date | date: "%A, %B %-d, %Y" }}</time>
    
    {{ content }}

    <div class="clear"></div>
    
    <div id="disqus_thread"></div>
    <script>var disqus_config=function(){this.page.url="{{ site.baseurl }}/{{ page.url }}",this.page.identifier="{{ page.id }}"};!function(){var e=document,t=e.createElement("script");t.src="//jpb94.disqus.com/embed.js",t.setAttribute("data-timestamp",+new Date),(e.head||e.body).appendChild(t)}();</script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>